.navbar-brand {
  padding: 3px;
}

/* Padding between mission list & thank yous*/
#menu ul li a {
  padding: 7px !important;
}

@media only screen and (max-width : 780px){
  #social_media {
    display: none;
  }
}