{% extends "travel/base.html" %}
{% load bootstrap3 %}

{% block mission %}
<div class="container">
    <div class="row">
        <div class="col-lg-6" id='register'>
            <form name="register" action='/mission/new/' method="POST">
                    {% csrf_token %}
                    <h4><b>Contact</b></h4>
                    {% bootstrap_form contact_form layout='inline' %}

                    <h4><b>Location</b></h4>
                    {% bootstrap_form address_form layout='inline' %}

                    <h4><b>Mission Details</b></h4>
                    {% bootstrap_form mission_form layout='inline' %}
                    {% for hidden in mission_form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                <input type="submit" class="btn btn-default pull-right" value="Assign Mission">
            </form>
          </div>

          <div class="col-lg-6 text-center" id='fine_print'>
            <h4><b>Fine Print</b></h4>
            <p>We'll Try out best to complete your mission if we're near. Even if it's something like weeding a garden. We can't offer any sort of financial assistance. We sank all our cash into this project</p>
          </div>
    </div>
</div>

{% endblock mission %}