{% extends "travel/base.html" %}
{% load bootstrap3 %}

{% block mission %}
    <div class='container-fluid' id="thanks">
      <div class='row-fluid'>
        <div class=".col-lg-8 pull-left" id="sponsors">
          <h1>Official Sponsors</h1>
          <a href="#"><img src="http://placehold.it/220x50&text=Logo" alt="LOGO"></a>
          <a href="#"><img src="http://placehold.it/220x50&text=Logo" alt="LOGO"></a>
          <a href="#"><img src="http://placehold.it/220x50&text=Logo" alt="LOGO"></a>
        </div>
        <br><br>
        <div class=".col-lg-4 pull-right">
          <table class="table borderless">
            <tbody>
              <tr>
                <td><b>Director Of Photography</b></td>
                <td>Benson Quach</td>
              </tr>
              <tr>
                <td><b>Producer</b></td>
                <td>Some Guy 1</td>
              </tr>
              <tr>
                <td><b>Producer</b></td>
                <td>Some Guy 2</td>
              </tr>
              <tr>
                <td><b>Web Design</b></td>
                <td>Kenneth Mendonça</td>
              </tr>
              <tr>
                <td><b>Copy Writer</b></td>
                <td>Matt Spadafora</td>
              </tr>
              <tr>
                <td><b>Intern</b></td>
                <td>Chris Hugelman</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class='row-fluid'>
        <div class=".col-lg-10  pull-left" id="backers">
          <h1>Backers</h1>
          <a href="#"><img src="http://placehold.it/220x50&text=Logo" alt="LOGO"></a>
          <a href="#"><img src="http://placehold.it/220x50&text=Logo" alt="LOGO"></a>
          <a href="#"><img src="http://placehold.it/220x50&text=Logo" alt="LOGO"></a>
        </div>
      </div>

      </div>
    </div>
{% endblock mission %}