{% extends "travel/base.html" %}

{% block mission %}
  <div class="container" id="mission_list">
    <h2><b>THE MISSION LIST</b></h2>
    <table class="table table-condensed" id="thankyou">
      <thead>
        <tr>
          <th><b>No.</b></th>
          <th><b>City</b></th>
          <th><b>Mission</b></th>
        </tr>
      </thead>
      <tbody>
      {% for task in missions %}
        <tr>
          <td>{{ task.id }}</td>
          <td>{{ task.city_state }}</td>
          <td>{{ task.description }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock mission %}





